
body {
    margin: 0;
    padding: 0;
}

#pantalla1, #pantalla2, #pantalla3, #pantalla4, #pantalla5, #pantalla6 {
    height: 100vh;
    width: 100vw;
}

#pantalla1 {
    background-color: chocolate;

    display: flex;
    justify-content: center;
    align-items: center;

}

#pantalla2 {
    background-color: crimson;

    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#pantalla3 {
    background-color: blue;

    display: none;
    justify-content: center;
    align-items: center;
}

img{
    height: 10em;
}

#pantalla4 {
    background-color: yellow;

    display: none;
}

#pantalla5 {
    background-color: orange;

    display: none;
}

#pantalla6 {
    background-color: green;

    display: none;
}

.logo {

    height: 15em;

    width: 27em;
} 
.padre{

    height: 80%;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

#boton{
    height: 20%;
    width: 100%;

    background-color: aqua;
}


.alumno{

    display: flex;
    height: 10em;
    width: 10em;
}