
body {
    margin: 0;
    padding: 0;
}

#pantalla1, #pantalla2, #pantalla3, #pantalla4, #pantalla5, #pantalla6 {
    height: 100vh;
    width: 100vw;
}
/*-----------------------------------------------------------------------PANTALLA 1----------------------------------------------------------------------- */
#pantalla1 {

    background-image: url("../img/inicio.png");
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

}

.opcion,.escoge,#listo,.textoJugador1,.textoJugador2,#botonRepetir{
    background-image: url("../img/columna.png");
    background-size: cover;
    height: 4.1em;
    width: 25em;
}

.titulo{
    height: 11em;
    width: 35em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/titulo.png");
    background-size: cover;
}
.menu{
    height: 25em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    align-self: flex-start;
    margin-left: 10em;
}

.opcion{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*-----------------------------------------------------------------------PANTALLA 2----------------------------------------------------------------------- */

#pantalla2{
    background-image: url("../img/barracones.png");
    background-size: cover;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.escoge{
    display: flex;
    align-items: center;
    justify-content: center;
}

.padre{
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 3em;
}

.padreArriba{
    background-image: url("../img/fondoStats.png");
    background-size: cover;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.gladiador1,.gladiador2,.gladiador3,.gladiador4{
    background-size: cover;
    display: flex;
    height: 15em;
    width: 15em;
}

.gladiador1{
    background-image: url("../img/equipacionMurmillo.png");
}

.gladiador2{
    background-image: url("../img/equipacionRetiarius.png");
}

.gladiador3{
    background-image: url("../img/equipacionHoplomachus.png");
}

.gladiador4{
    background-image: url("../img/equipacionDimachaerus.png");
}

.previewGladiador{
    margin-bottom: 2em;
    margin-left: 2em;
    height: 23em;
    width: 30em;
    display: flex;
    align-items: center;
}

.player1vs, .player2vs{
    background-image: url("../img/pergamino.jpg");
    background-size: cover;
}

#gladiadorPlayer1{
    height: 250px;
    width: 250px;
}

#gladiadorPlayer2{
    height: 250px;
    width: 250px;
    position: absolute;
    margin-left: 15em;
}

#infoPlayer1{
    height: 15em;
    position: absolute;
    margin-left: 12em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
} 

#infoPlayer2{
    margin-right: 30em;
    height: 15em;
    margin-left: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.infoBarra1, .infoBarra2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#vidaPlayer1Stats,#danoPlayer1Stats,#defensaPlayer1Stats,#criticoPlayer1Stats{
    background-color: green;
    height: 1em;
    width: 0em;
}

#vidaPlayer2Stats,#danoPlayer2Stats,#defensaPlayer2Stats,#criticoPlayer2Stats{
    background-color: green;
    height: 1em;
    width: 0em;
}
#infoVidaPlayer2, #infoDanoPlayer2,#infoDefensaPlayer2,#infoCriticoPlayer2{
    display: flex;
    align-self: flex-end;
    flex-direction: column;
    text-align:right;
}

/*-----------------------------------------------------------------------PANTALLA 3----------------------------------------------------------------------- */

#pantalla3 {
    background-image: url("../img/barracones.png");
    background-size: cover;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.versus{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 10em;
}

#listo{
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

img{
    height: 10em;
}

/*-----------------------------------------------------------------------PANTALLA 4----------------------------------------------------------------------- */

#pantalla4 {
    display: none;
    flex-direction: column;
}

.jugadores{
    position: absolute;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    display: flex;
}

.textoJugador1,.textoJugador2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.infoJugador1, .infoJugador2{
    height: 10em;
    width: 15em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.vida1, .vida2, #vida1, #vida2{
    height: 2em;
    width: 35em;
}

.vida1, .vida2{
    display: flex;
    border: solid;
    border-color: black;
    border-width: medium;
    background-color: grey;
    border-radius: 1em;
}

#vida1{
    background-color: green;
    align-self: flex-start;
    display: flex;
    align-items: center;
    border-radius: 1em;
    transition: width 0.3s;
}

.vida2{
    justify-content: right;
}

#vida2{
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: right;
    border-radius: 1em;
    transition: width 0.3s;
}

/*-----------------------------------------------------------------------PANTALLA1----------------------------------------------------------------------- */

#pantalla5 {
    background-image: url("../img/fondoGanador.png");
    background-size: cover;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.textoGanador{
    background-image: url("../img/titulo.png");
    background-size: cover;
    height: 10em;
    width: 30em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ganador{
    margin-top: 2em;
    height: 475px;
    width: 375px;
}

#botonRepetir{
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

}